body {
    background: rgb(234, 244, 248);
}

.learn-more {
    font-size: 70px;
    padding-right: 25%;
}

.developer_name {
    background: rgb(236, 235, 235);
}

.developer_name:hover {
    background: lightgray !important;
}

.item_icon {
    width: 63px !important;
}

.panel {
    position: relative;
    top: -100px;
    left: -100px;
}

.panel img {
    border: 12px solid rgb(234, 244, 248);
    border-radius: 15px;
}

footer p {
    line-height: 12px;
    color: rgb(75, 75, 75);
}

footer p a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    padding-right: 3px;
}

.copyright {
    font-size: 13px;
}